{% extends 'base.html.twig' %}

{% block body %}

	<div class="row">
		<h2> Top Wallpapers For Abstract</h2>
		<div class="row">
			{% for image in abstract %}
				<div class="col-sm-12 col-md-6">
					<div class="thumbnail">
						<img src="/images/{{ image }}" alt="...">
					</div>
				</div>
			{% endfor %}
		</div>

	</div>

	<div class="row">

		{% for image in randomised_images %}

			<div class="col-sm-6 col-md-3">
				<div class="thumbnail">
					<img src="/images/{{ image }}" alt="...">
				</div>
			</div>


		{% endfor %}


	</div>


{% endblock %}